{% assign items_by_year = site.data.posters | group_by: "date" | sort: "name" | reverse %}
{% for group in items_by_year %}
  <h3>{{ group.name }}</h3>
  <ul>
    {% for poster in group.items %}
      <li>
        {{ poster.authors | replace: "Simon G. Innes", "<strong>Simon G. Innes</strong>" }}.
        {{ poster.title | markdownify | remove: "<p>" | remove: "</p>" | strip }} — <em>{{ poster.event }}</em>, {{ poster.location }}.
        {% if poster.url %} <a href="{{ poster.url }}" target="_blank" rel="noopener">[Link]</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
